<body>
<h1>Future Events</h1>
<table>
    <thead>
    <tr>
        <th>Schedule ID</th>
        <th>Station ID</th>
        <th>Start Time</th>
        <th>Runtime</th>
        <th>Repeat Rule</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr>
            <td>{{ event.schedule_id }}</td>
            <td>{{ event.station_id }}</td>
            <td>{{ event.starttime }}</td>
            <td>{{ event.runtime }} min.</td>
            <td>{{ event.repeat_rule }}</td>
            <td>
                <button class="delete-btn" hx-post="/delete-schedule/{{ event.schedule_id }}" hx-target="body">Delete
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div>&nbsp;</div>
    <button hx-get="/" hx-trigger="click" hx-target="body">Home</button>
<div>&nbsp;</div>
<form hx-post="/add-schedule" hx-target="body">
    Station: <input type="text" name="station_id" id="station_id" required>
    Start: <input type="text" name="starttime" id="starttime" required>
    Runtime min: <input type="text" name="runtime" id="runtime" required>
    <button name="b1" type="submit" value="submit">Add</button>


</form>


</body>
