<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    <meta charset="UTF-8">

    <title>PyWRR - Python Web Radio Recorder</title>
</head>
<body>

<script>
    console.log("main page reached1")
</script>

<h1>PyWRR</h1>

<br/>

<a href="/stations" hx-boost="true">Stations</a>
<a href="/future-events" hx-boost="true">Upcoming recordings</a>
<a href="/completed-events" hx-boost="true">Completed recordings</a>

<br/>
<a href="/about" hx-boost="true">About</a>
<a href="/settings" hx-boost="true">Settings</a>

<button id="button1">Button 1</button>
<button id="button2">Button 2</button>

</body>
</html>