<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    <meta charset="UTF-8">

    <title>PyWRR - Python Web Radio Recorder</title>
</head>
<body>

<script>
    console.log("main page reached...")
</script>

<div id="pywrr-main" hx-boost="true">
    <div hx-get="/main.html" hx-target="#pywrr-main"  hx-trigger="load">...</div>
</div>


</body>
</html>