<div id="pywrr-main" hx-boost="true">

<h1>PyWRR</h1>

<ul>


    <li><a href="/stations" hx-boost="true" hx-target="#pywrr-main">Stations</a></li>
    <li><a href="/future-events" hx-boost="true" hx-target="#pywrr-main">Upcoming recordings</a></li>
    <li><a href="/running-events" hx-boost="true" hx-target="#pywrr-main">Running recordings</a></li>
    <li><a href="/completed-events" hx-boost="true" hx-target="#pywrr-main">Completed recordings</a></li>


    <li><a href="/about" hx-boost="true" hx-target="#pywrr-main">About</a></li>
    <li><a href="/settings" hx-boost="true" hx-target="#pywrr-main">Settings</a></li>

</ul>

<div>&nbsp;</div>
{{ current_time }}


</div>